{% extends 'master' %}

{% block content %}
<h1>Új novella regisztrálása</h1>

{% if old('errors') %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for error in old('errors') %}
    <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form class="form-horizontal" action="/novella/create" method="POST">
  {{ csrfField }}
  <!-- cím-->
  <div class="form-group">
    <label for="inputTitle" class="col-sm-2 control-label">Cím</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle" name="title" value="{{ old('title') }}">
    </div>
  </div>
<!-- szerző -->
  <div class="form-group">
    <label for="inputAuthor" class="col-sm-2 control-label">Szerző</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAuthor" name="author" value="{{ old('author') }}">
    </div>
  </div>
<!-- kategória -->
  <div class="form-group">
    <label for="inputCategory" class="col-sm-2 control-label">Kategória</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputCategory" name="category">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- leírás-->
  <div class="form-group">
    <label for="inputDescription" class="col-sm-2 control-label">Leírás</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputDescription" name="description">{{ old('description') }}</textarea>
    </div>
  </div>
<!-- küldés-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Mű regisztrálása</button>
    </div>
  </div>
</form>

{% endblock %}