{% extends 'master' %}

{% block scripts %}
<script src="/scripts/ajaxDelete.js"></script>
{% endblock %}


{% block content %}
<h1>{{ book.title }}</h1>
<p>by {{ book.author }}</p>
<p>{{ book.category.name }}</p>
<pre>{{ book.description }}</pre>

<form action="/novella/{{ book.id }}/delete" method="POST" id="deleteBookForm">
    {{ csrfField }}
        <a class="btn btn-primary" href="/novella/{{ book.id }}/edit" role="button">Módosítás</a>
        <button type="submit" class="btn btn-danger">Törlés</button>
        <a class="btn btn-primary" href="/novella/{{ book.id }}/addToFavs" role="button">Kedvencekhez</a>   
</form>

<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="deleteConfirmModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}