{% extends 'master' %}

{% block content %}
<div class="input-group input-group-lg">
<input type="text" class="form-control" placeholder="Keresés...">
<span class="input-group-btn">
    <button class="btn btn-info" type="button">Mehet!</button>
</span>
</div><!-- /input-group -->

<div class="row">
    {% for category in categories %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">{{ category.name }}</div>

            <!-- List group -->
            <ul class="list-group">
                {% for novella in category.topNovella %}
                <li class="list-group-item">
                    <a href="/novella/{{ novella.id }}">{{ novella.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}